//Colors
$black: #1f2428;
$black2: #222222;
$black3: #171717;
$black4: #202224;
$black5: #000000;
$gray: #c4c5c7;
$gray2: #999999;
$gray3: #c4c4c4;
$gray4: #f8f8f8;
$gray5: #efefef;
$white: #ffffff;
$white2: #fefefe;
$red: #e80505;
$red2: #d00202;
$red3: #f4322a;

$base-row-gap: 60px;

$font-extensions: woff;

:export {
}
